h1 {
	color: red;
	font-size: 15px;
	font-family: helvetica;
	

}

h2 {

	font-family: helvetica;

}

th {
	text-align: left;
	padding:0 15px 0 15px;
}

td
{
	
	text-align: left;
    padding:0 15px 0 15px;
}

table
{
	table-layout:fixed;
	font-family: helvetica;
}


